*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    color: rgb(245, 198, 10);
}
h4{
    color: darkgrey;
    font-size: 30px;
}
h5{
    margin-top: 6px;
}
h6{
    font-weight: 700;
}
p{
    color: darkgray;
    font-size: 16px;
}
/* .container{
    padding: auto 90px;
} */
nav .navbar-nav a{
    margin-left: 8px;
    font-size: 20px;
}
.mbox img{
width: 100%;
height: 300px;
}
#new{
    background-color: black;
    padding: 40px 25px;
    color: white;
}
#new p{
    color: darkgray;
}
button{
    /* height: 8s0px;
    width: 120px; */
    padding: 10px 28px;
    font-size: 15px;
    background-color: rgb(243, 68, 29);
    color: white;
    border: 1px solid red;
    border-radius: 4px;
    margin-top: 3px;
}
.articles img{
    height: 150px;
    width: 100px;
}
.articles .poster{
    padding: 5px;
    /* padding-left: 20px; */
}
.articles .p2{
    padding-left: 0px;
}
.articles p{
    font-size: 12px;
}